{%extends "layout.html"%}
{% block content %}
<h1>DAT158 - Gruppe 13</h1>

{% if form.errors %}
{{ form.errors }}
{% endif %}


{% if prediksjon %}
    <div class="alert alert-success">
        Prediksjon: {{ prediksjon }}
    </div>
{% endif %}

{% if invalid %}
    <div class="alert alert-danger">
        Kunne ikke få tak i prediksjon.
    </div>
{% endif %}

<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom"> Prediker summen av alle transaksjoner for en bruker</legend>
            
            <div class="form-group">
                {{ form.device_browser.label(class="form-control-label") }}
                {% if form.device_browser.errors %}
                    {{ form.device_browser(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.device_browser.errors %}
                         <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.device_browser(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>
            <div class="form-group">
                {{ form.device_operatingSystem.label(class="form-control-label") }}
                {% if form.device_operatingSystem.errors %}
                    {{ form.device_operatingSystem(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.device_operatingSystem.errors %}
                         <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.device_operatingSystem(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>
            <div class="form-group">
                {{ form.device_isMobile.label(class="form-control-label") }}
                {% if form.device_isMobile.errors %}
                    {{ form.device_isMobile(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.device_isMobile.errors %}
                         <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.device_isMobile(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>

            <div class="form-group">
                {{ form.geoNetwork_continent.label(class="form-control-label") }}
                {% if form.geoNetwork_continent.errors %}
                    {{ form.geoNetwork_continent(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.geoNetwork_continent.errors %}
                         <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.geoNetwork_continent(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>
            <div class="form-group">
                {{ form.geoNetwork_country.label(class="form-control-label") }}
                {% if form.geoNetwork_country.errors %}
                    {{ form.geoNetwork_country(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.geoNetwork_country.errors %}
                         <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.geoNetwork_country(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Gruppe 13
    </small>
</div>
{% endblock content %}